button {
    padding: 10px;
}

.hamburger-button {
    padding: 10px;
    background-color: var(--dark);
    color: var(--white);
    font-size: 2rem;
    border: 1px solid var(--white);
    display: none;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .menu-component-container {
        display: none;
    }

    .hamburger-button {
        display: block;
    }
}

@media screen and (max-width: 600px) {

}