<div class="h-full menu-component-container">
    <ul class="flex flex-row flex-nowrap justify-content-between align-items-baseline h-full">
        <li>Home</li>
        <li>Schedule</li>
        <li>Shop</li>
        <li>Logout</li>
    </ul>
</div>

<div>
    <button
        pButton
        type="button" 
        class="hamburger-button"
        (click)="menu.toggle($event)"
    >
        <i class="fas fa-bars"></i>
    </button>
    <p-menu 
        #menu
        [popup]="true"
        [model]="items"
    >

    </p-menu>
</div>