<div class="flex flex-wrap dashboard-container">
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    <p-card 
        class="" 
        [style]="{ 
            'width': '400px',
            'height': '330px', 
            'background-color': '#002a3a', 
            'color': '#FFFF', 
            'border': '2px solid #F6F8F2',
            'margin': '5px' 
        }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">Flex Trainer Advanced 30</h3>
                    <p-tag 
                        value="Beginner"
                        [style]="{ 
                            'padding': '5px 5px', 
                            'margin-left': '10px', 
                            'background-color': '#e4002b', 
                            'font-weight': '700',
                            'font-size': '.75rem', 
                            'border-radius': '5px'
                        }"       
                    >
                    </p-tag>
                </div>
            <div class="workout-subtitle-container">
                <span class="workout-subtitle-item">
                    Instructor: Shelley Meredith
                </span>
                |
                <span class="workout-subtitle-item">
                    Equipment: Flex Elipitical Trainer
                </span>
                |
                <span class="workout-subtitle-item">
                    Time: 30min
                </span>
                |
                <span class="workout-subtitle-item">
                    Updated: 04-26-2021
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="content" class="content-container">
            <img src="../../../assets/echelon-trainer.png" alt="">
        </ng-template>
    </p-card>
    
</div>