<div>
    <ul class="footer flex flex-nowrap justify-content-center align-items-center">
        <li><a i18n i18n="Footer Careers Link|Link to the careers section.@@footerCareersLink" href="https://echelonstudio.com/careers">Careers</a></li>
        <li><a i18n i18n="Footer About Link|Link to the about section.@@footerAboutLink" href="https://echelonstudio.com/about">About</a></li>
        <li><a i18n i18n="Footer Terms Link|Link to the terms section.@@footerTermsLink" href="https://echelonstudio.com/studio#/terms">Terms</a></li>
    </ul>
</div>
