/* You can add global styles to this file, and also import other style files */
:root {
    --red: #e4002b;
    --dark: #002a3a;
    --white: #FFFF;
    --beginner: #0667B2;
    --intermediate: #1B9D51;
    --advanced: #e4002b;
    --not-rated: #67728E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
}

/* Menu Style */
.p-menuitem {
    margin-left: 10px;
    color: var(--white);
    height: 100%;
}

.p-menu-list:hover {
    background-color: var(--white);
}

/* Main Body Style */
header {
    border-bottom: 1px solid var(--white);
}

main {
    height: 600px;
}

footer {
    height: 200px;
    width: 100vw;
    border-top: 1px solid var(--white);
}