/* You can add global styles to this file, and also import other style files */
:root {
    --red: #e4002b;
    --dark: #002a3a;
    --white: #FFFF;
    --beginner: #0667B2;
    --intermediate: #1B9D51;
    --advanced: #e4002b;
    --not-rated: #67728E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PrimeNG Animations */
@keyframes fadeinup {
    0%   {
        opacity: 0;
        transform: translateY(-100%);
        transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* General/Global Styles */
body {
    background-color: var(--dark);
}

ul {
    list-style: none;
    height: 100%;
}

li {
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    padding: 31px 15px;
    cursor: pointer;
    background-color: none;
    transition-property: background-color;
    transition-duration: .50s;
}

li:hover {
    background-color: var(--red);
}

/* Menu Style */
.p-menuitem {
    margin-left: 10px;
    color: var(--white);
    height: 100%;
}

.p-menu-list:hover {
    background-color: var(--white);
}

/* Main Body Style */
header {
    border-bottom: 1px solid var(--white);
}

main {
    height: 725px;
}

footer {
    width: 100vw;
    border-top: 1px solid var(--white);
}