<div class="flex flex-wrap dashboard-container w-screen">
    <ng-container *ngIf="dataFiltered;else unfiltered">
        <p-card
        *ngFor="let item of filteredData; let i = index" 
        class="fadein"
    >
        <ng-template pTemplate="header">
            <div class="flex flex-nowrap align-items-center">
                <h3 class="workout-title">{{ item.name }}</h3>
                <ng-container>
                    <p-tag

                        [value]="item.level" 
                        [ngClass]="findClass(item.level)"
                    >
                    </p-tag>
                </ng-container>
            </div>
            <div class="workout-subtitle-container">
                <span i18n="Instructor|Name of the class instructor.@@filteredCardInstructorName" class="workout-subtitle-item">
                    Instructor: {{item.inst}}
                </span>
                |
                <span i18n="Equipment|Name of the equipment used for the workout.@@filteredCardEquipmentName" class="workout-subtitle-item">
                    Equipment: {{item.product}}
                </span>
                |
                <span i18n="Time|Length of the current workout.@@filteredCardWorkoutTime" class="workout-subtitle-item">
                    Time: {{item.len | workoutTime }}
                </span>
                |
                <span i18n="Updated|Time of the last update for the workout.@@filteredCardUpdatedAtTime" class="workout-subtitle-item">
                    Updated: {{ item.updatedAt | date }}
                </span>
            </div>
        </ng-template>
    
        <ng-template pTemplate="content" class="content-container">
            <img i18n i18n-alt="Trainer Image|An image of the trainer using the current machine.@@filteredCardWorkoutImage" [src]="item.image" alt="An image of the trainer using the current machine." />
        </ng-template>
    </p-card>
    </ng-container>
    <ng-template #unfiltered>
        <p-card 
            *ngFor="let item of echelonData" 
            class="fadein" 
            [style]="{ 
                'width': '500px',
                'height': '330px', 
                'background-color': '#002a3a', 
                'color': '#FFFF', 
                'border': '2px solid #F6F8F2',
                'margin': '10px' 
            }"
        >
            <ng-template pTemplate="header">
                <div class="flex flex-nowrap align-items-center">
                    <h3 class="workout-title">{{ item.name }}</h3>
                    <ng-container>
                        <p-tag
                            [value]="item.level" 
                            [ngClass]="findClass(item.level)"
                        >
                        </p-tag>
                    </ng-container>
                </div>
                <div class="workout-subtitle-container">
                    <span i18n="Instructor|Name of the class instructor.@@cardInstructorName" class="workout-subtitle-item">
                        Instructor: {{item.inst}}`
                    </span>
                    |
                    <span i18n="Equipment|Name of the equipment used for the workout.@@cardEquipmentName" class="workout-subtitle-item">
                        Equipment: {{item.product}}
                    </span>
                    |
                    <span i18n="Time|Length of the current workout.@@cardWorkoutTime" class="workout-subtitle-item">
                        Time: {{ item.len | workoutTime }}
                    </span>
                    |
                    <span i18n="Updated|Time of the last update for the workout.@@cardUpdatedAtTime" class="workout-subtitle-item">
                        Updated: {{ item.updatedAt | date }}
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="content" class="content-container">
                <img i18n i18n-alt="Workout Image Alt|A description for the current workouts image.@@cardWorkoutImage" [src]="item.image" alt="An image of the current trainer for the workout.">
            </ng-template>
        </p-card>
    </ng-template>
</div>
