.workout-title {
    font-weight: 500;
}

.workout-subtitle-container {
    margin-top: 10px;
}

.workout-subtitle-item {
    font-size: .85rem;
    font-weight: 700;
}

.workout-image {
    object-fit: contain;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

img {
    width: 100%;
    height: 225px;
}

.tag-style {
    padding: 5px 5px; 
    margin-left: 10px; 
    font-weight: 700;
    font-size: .75rem; 
    border-radius: 5px
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
 img {
     height: 14.13rem;
 }
 
 .workout-title {
     font-size: .97rem;
 }

 .workout-subtitle-item {
     font-size: .75rem;
 }
}

@media screen and (max-width: 600px) {
    .workout-title {
        font-size: .99rem;
    }

    .workout-subtitle-item {
        font-size: .80rem;
    }
}