.workout-title {
    font-weight: 500;
}

.workout-subtitle-container {
    margin-top: 10px;
}

.workout-subtitle-item {
    font-size: .85rem;
}

.workout-image {
    object-fit: contain;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

img {
    width: 100%;
    height: 225px;
}