.menu-container {
    background-color: var(--dark);
    width: 100vw;
    height: 100px;
    color: var(--white);
    font-size: 2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.echelon-logo {
    height: 50px;
    width: 200px;
}